*,body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}
.btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
 .btn-grad {
    margin: 10px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .btn-primary {
      background-color: red;
      border: 1px solid white;
      box-shadow: 0 0 10px #eee;
  }